<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="base_uri" value="https://api.openweathermap.org/data"/>
    <add key="version" value="2.5"/>
    <add key="weather" value="weather?"/>
    <add key="apikey" value="d42a10d6736269438fb196c408179e84"/>
  </appSettings>
</configuration>